
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Slide Login Form Flat Responsive Widget Template :: w3layouts</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
	<!-- //web font -->
	<!-- Custom Theme files -->
	<link href="../view/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../view/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body class="body">
	<div class="layout">
		<!-- Start Heading -->
		<article class="container">

			<blockquote>
				<strong>Welcome</strong> in <em>Hospital</em> 
			</blockquote>
			<b>services !</b>

		</article>
		<!-- Start button -->
		<div class="type-1">
			  <div class="maindiv1">
				<a href="loginClient.jsp" class="btn btn-1">
				  <span class="txt">Sign As Client</span>
				  <span class="round"><i class="fa fa-chevron-right"></i></span>
				</a>
			  </div>
			  <div class="maindiv2">
                              <a href="Doctor.jsp" class="btn btn-1">
				  <span class="txt">Sign As Doctor</span>
				  <span class="round"><i class="fa fa-chevron-right"></i></span>
				</a>
			  </div>
			  <div class="maindiv3">
                              <a href="Admin.jsp" class="btn btn-1">
				  <span class="txt">Sign As Administrator</span>
				  <span class="round"><i class="fa fa-chevron-right"></i></span>
				</a>
			  </div>
		</div>
	</div>
</body>
</html>