<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Servlets.Filter.AdminFilterServlet</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilterJsp</filter-name>
        <filter-class>Servlets.Filter.AdminFilterJsp</filter-class>
    </filter>
    <filter>
        <filter-name>ClientFilterServlet</filter-name>
        <filter-class>Servlets.Filter.ClientFilterServlet</filter-class>
    </filter>
    <filter>
        <filter-name>ClientFilterJsp</filter-name>
        <filter-class>Servlets.Filter.ClientFilterJsp</filter-class>
    </filter>
    <filter>
        <filter-name>DoctorFilterServlet</filter-name>
        <filter-class>Servlets.Filter.DoctorFilterServlet</filter-class>
    </filter>
    <filter>
        <filter-name>DoctorFilterJsp</filter-name>
        <filter-class>Servlets.Filter.DoctorFilterJsp</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DoctorFilterJsp</filter-name>
        <servlet-name>DoctorReservation</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterJsp</filter-name>
        <servlet-name>DoctorPro</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterJsp</filter-name>
        <servlet-name>EditPassword</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterJsp</filter-name>
        <servlet-name>EditDoc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterServlet</filter-name>
        <servlet-name>GetMedicine</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>roombook</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>ClientBooking</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>CreateDoctorAccount</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>Statistics</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>Pharmecy</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AcceptMedicine</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AllClientProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>DoctorProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ClientProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>RemoveDoctor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>CreateDoctorAccount</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>RemoveDoc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>AllClientPro</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>ClientsProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>DoctorsProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>AvailablePhy</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>MainAdmin</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilterJsp</filter-name>
        <servlet-name>AllDoctorPro</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AllDoctorProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>CancelBookingClient</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>ClientBalance</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>ClientBooking</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>ClientReservations</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>ClientReservationsToday</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>EditClient</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>RemoveClient</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>ShowPharmacy</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterServlet</filter-name>
        <servlet-name>AvailableDoctor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>Pharmacy</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>MainClient</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>Editclient</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>ClientReservationstoday</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>ClientPro</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>ClientBalanc</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>AllClientReservation</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientFilterJsp</filter-name>
        <servlet-name>roombook</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterServlet</filter-name>
        <servlet-name>EditDoctorPassword</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterServlet</filter-name>
        <servlet-name>EditDoctor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterJsp</filter-name>
        <servlet-name>MainDoctor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilterServlet</filter-name>
        <servlet-name>DoctorReservations</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Servlets.listener.ConnectionDatabase</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginClient</servlet-name>
        <servlet-class>Servlets.Client.LoginClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClientAccount</servlet-name>
        <servlet-class>Servlets.Client.NewClientAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDoctor</servlet-name>
        <servlet-class>Servlets.Doctor.LoginDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Servlets.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>Servlets.Admin.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDoctorAccount</servlet-name>
        <servlet-class>Servlets.Doctor.NewDoctorAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientBooking</servlet-name>
        <servlet-class>Servlets.Client.ClientBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctorPassword</servlet-name>
        <servlet-class>Servlets.Doctor.EditDoctorPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDoctor</servlet-name>
        <servlet-class>Servlets.Doctor.RemoveDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientBalance</servlet-name>
        <servlet-class>Servlets.Client.ClientBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingClient</servlet-name>
        <servlet-class>Servlets.Client.CancelBookingClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMedicine</servlet-name>
        <servlet-class>Servlets.Doctor.GetMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptMedicine</servlet-name>
        <servlet-class>Servlets.Admin.AcceptMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailablePhysicians</servlet-name>
        <servlet-class>Servlets.Admin.AvailablePhysicians</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveClient</servlet-name>
        <servlet-class>Servlets.Client.RemoveClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClient</servlet-name>
        <servlet-class>Servlets.Client.EditClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctor</servlet-name>
        <servlet-class>Servlets.Doctor.EditDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientProfile</servlet-name>
        <servlet-class>Servlets.Client.ClientProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfile</servlet-name>
        <servlet-class>Servlets.Doctor.DoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPharmacy</servlet-name>
        <servlet-class>Servlets.Client.ShowPharmacy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableDoctor</servlet-name>
        <servlet-class>Servlets.Doctor.AvailableDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientReservations</servlet-name>
        <servlet-class>Servlets.Client.ClientReservations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientReservationsToday</servlet-name>
        <servlet-class>Servlets.Client.ClientReservationsToday</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllClientProfile</servlet-name>
        <servlet-class>Servlets.Client.AllClientProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pharmecy</servlet-name>
        <servlet-class>Servlets.Admin.Pharmecy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>Servlets.Admin.Statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorReservations</servlet-name>
        <servlet-class>Servlets.Doctor.DoctorReservations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDoctorAccount</servlet-name>
        <jsp-file>/view/CreateDoctorAccount.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RemoveDoc</servlet-name>
        <jsp-file>/view/RemoveDoctor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllClientPro</servlet-name>
        <jsp-file>/view/AllClientProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ClientsProfile</servlet-name>
        <jsp-file>/view/ClientsProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DoctorsProfile</servlet-name>
        <jsp-file>/view/DoctorsProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AvailablePhy</servlet-name>
        <jsp-file>/view/AvailablePhysicians.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MainAdmin</servlet-name>
        <jsp-file>/view/MainAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllDoctorProfile</servlet-name>
        <servlet-class>Servlets.Doctor.AllDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDoctorPro</servlet-name>
        <jsp-file>/view/AllDoctorProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>roombook</servlet-name>
        <jsp-file>/view/roombook.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllClientReservation</servlet-name>
        <jsp-file>/view/AllClientReservation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ClientBalanc</servlet-name>
        <jsp-file>/view/ClientBalance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ClientPro</servlet-name>
        <jsp-file>/view/ClientProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ClientReservationstoday</servlet-name>
        <jsp-file>/view/ClientReservationsToday.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Editclient</servlet-name>
        <jsp-file>/view/EditClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MainClient</servlet-name>
        <jsp-file>/view/MainClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pharmacy</servlet-name>
        <jsp-file>/view/Pharmacy.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditDoc</servlet-name>
        <jsp-file>/view/EditDoctor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditPassword</servlet-name>
        <jsp-file>/view/EditPassword.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DoctorPro</servlet-name>
        <jsp-file>/view/DoctorProfile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DoctorReservation</servlet-name>
        <jsp-file>/view/DoctorReservations.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MainDoctor</servlet-name>
        <jsp-file>/view/MainDoctor.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginClient</servlet-name>
        <url-pattern>/LoginClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClientAccount</servlet-name>
        <url-pattern>/NewClientAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDoctor</servlet-name>
        <url-pattern>/LoginDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDoctorAccount</servlet-name>
        <url-pattern>/NewDoctorAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientBooking</servlet-name>
        <url-pattern>/ClientBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctorPassword</servlet-name>
        <url-pattern>/EditDoctorPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDoctor</servlet-name>
        <url-pattern>/RemoveDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientBalance</servlet-name>
        <url-pattern>/ClientBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingClient</servlet-name>
        <url-pattern>/CancelBookingClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMedicine</servlet-name>
        <url-pattern>/GetMedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptMedicine</servlet-name>
        <url-pattern>/AcceptMedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailablePhysicians</servlet-name>
        <url-pattern>/AvailablePhysicians</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveClient</servlet-name>
        <url-pattern>/RemoveClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClient</servlet-name>
        <url-pattern>/EditClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctor</servlet-name>
        <url-pattern>/EditDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientProfile</servlet-name>
        <url-pattern>/ClientProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfile</servlet-name>
        <url-pattern>/DoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPharmacy</servlet-name>
        <url-pattern>/ShowPharmacy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableDoctor</servlet-name>
        <url-pattern>/AvailableDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientReservations</servlet-name>
        <url-pattern>/ClientReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientReservationsToday</servlet-name>
        <url-pattern>/ClientReservationsToday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllClientProfile</servlet-name>
        <url-pattern>/AllClientProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pharmecy</servlet-name>
        <url-pattern>/Pharmecy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorReservations</servlet-name>
        <url-pattern>/DoctorReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDoctorAccount</servlet-name>
        <url-pattern>/view/CreateDoctorAccount.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDoc</servlet-name>
        <url-pattern>/view/RemoveDoctor.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllClientPro</servlet-name>
        <url-pattern>/view/AllClientProfile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientsProfile</servlet-name>
        <url-pattern>/view/ClientsProfile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorsProfile</servlet-name>
        <url-pattern>/view/DoctorsProfile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailablePhy</servlet-name>
        <url-pattern>/view/AvailablePhysicians.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainAdmin</servlet-name>
        <url-pattern>/view/MainAdmin.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDoctorProfile</servlet-name>
        <url-pattern>/AllDoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDoctorPro</servlet-name>
        <url-pattern>/view/AllDoctorProfile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roombook</servlet-name>
        <url-pattern>/view/roombook.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllClientReservation</servlet-name>
        <url-pattern>/view/AllClientReservation.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientBalanc</servlet-name>
        <url-pattern>/view/ClientBalance.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientPro</servlet-name>
        <url-pattern>/view/ClientProfile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientReservationstoday</servlet-name>
        <url-pattern>/view/ClientReservationsToday.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editclient</servlet-name>
        <url-pattern>/view/EditClient.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainClient</servlet-name>
        <url-pattern>/view/MainClient.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pharmacy</servlet-name>
        <url-pattern>/view/Pharmacy.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoc</servlet-name>
        <url-pattern>/view/EditDoctor.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPassword</servlet-name>
        <url-pattern>/view/EditPassword.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorPro</servlet-name>
        <url-pattern>/view/DoctorProfile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorReservation</servlet-name>
        <url-pattern>/view/DoctorReservations.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainDoctor</servlet-name>
        <url-pattern>/view/MainDoctor.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
