<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="twitter:" content="welcomr in search">
    <link rel="stylesheet" href="admin_account.css">
    <title>search</title>
  </head>
  <body>
   <b>Welcome in Account Of Admin Dept</b>
   <br>
   <br>
   <div class="c">
     <h1>Id:</h1>
     <h1>Name:</h1
       <br>
     <h1>Address:</h1>
     <h1>Phone Number:</h1>
     <h1>The Monthly Balance:</h1>
     <h1>Age:</h1>
   </div>
    <div class="a1">
    <a href="https://www.facebook.com/ahmed.aboelazm.9469" class="myButton1" target="_blank">F</a>
    <a href="https://www.twitter.com" class="myButton1" target="_blank" >T</a>
    <a href="enter.html" class="myButton" target="_blank">Log out</a>
    <a href="admin_limit.html" class="myButton" target="_blank">Home Page</a>
  </div>
  <div class="footer">
    copyright &copy;2020 All right Reserved to LOURaN HoSpiTal Pages &reg;team
  </div>
  </body>
</html>
