<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Welcome In Delete Client Dept">
    <link rel="stylesheet" href="delete_client.css">
    <title>Client Dept</title>
  </head>
  <body>
       <b>Welcome In Delete Client Dept</b>
     <div class="a">
        <b>Enter Id</b>
        <input type="text" class="aa" placeholder="Please Enter Id">
     </div>
      <input type="button" value="Find" class="myButton1">
     <div class="a1">
        <a href="https://www.facebook.com/ahmed.aboelazm.9469" class="myButton" target="_blank">F</a>
        <a href="https://www.twitter.com" class="myButton" target="_blank" >T</a>
        <a href="enter.html" class="myButton" target="_blank">Log out</a>
        <a href="admin_limit.html" class="myButton" target="_blank">Home Page</a>
    </div>
    <div class="footer">
      copyright &copy;2020 All right Reserved to LOURaN HoSpiTal Pages &reg;team
    </div>
  </body>
</html>
