<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="welcome In client Data Dept">
    <title>client Data Dept</title>
    <link rel="stylesheet" href="show_client_data.css">
  </head>
  <body>
    <b>Welcome In client Data Dept</b>
   <div class="table">
    <table>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Phone</td>
        <td>Title</td>
      </tr>
      <tr>
        <td>400</td>
        <td>Eslam Elbana</td>
        <td>0120123456</td>
        <td>Tanta</td>
      </tr>
      <tr>
        <td>401</td>
        <td>Eslam Keder</td>
        <td>0120123789</td>
        <td>Elshohda</td>
       </tr>
     </table>
    </div>
    <div class="a1">
       <a href="https://www.facebook.com/ahmed.aboelazm.9469" class="myButton" target="_blank">F</a>
       <a href="https://www.twitter.com" class="myButton" target="_blank" >T</a>
       <a href="enter.html" class="myButton" target="_blank">Log out</a>
       <a href="admin_limit.html" class="myButton" target="_blank">Home Page</a>
    </div>
    <div class="footer">
      copyright &copy;2020 All right Reserved to LOURaN HoSpiTal Pages &reg;team
    </div>
  </body>
</html>
