<!DOCTYPE html>
<html>
  <head>
    <title>Beam Booking</title>
          <link rel="stylesheet" href="beambook.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-ambulance"></i>
          <i class="fas fa-syringe"></i>
          <i class="fas fa-stethoscope"></i>
      </div>
      <form action="/">
        <h1>BEAN BOOKING</h1>
        <div class="info">
          <input class="fname" type="number" name="id" placeholder="ID">
          <input type="text" name="type of bean" placeholder="TYPE OF BEAN">
        </div>
        <button type="submit" href="$">SUBMIT</button>
        <button type="submit" href="file:///D:/computer%20science/Web/The%20project/MClient.html">GO TO MAIN PAGE</button>
       <button type="submit" href="$">LOG OUT</button>
      </form>
    </div>
  </body>
</html>