<!DOCTYPE html>
<html>
  <head>
    <title>Complaints</title>
            <link rel="stylesheet" href="complaints.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
         <i class="fas fa-ambulance"></i>
          <i class="fas fa-syringe"></i>
          <i class="fas fa-stethoscope"></i>
      </div>
      <form action="/">
        <h1>COMPLAINTS</h1>
        <p>Make Your Message Meaningful</p>
        <div>
          <textarea rows="7"></textarea>
        </div>
        <button type="submit" href="/">SEND</button>
        <button type="submit" href="file:///D:/computer%20science/Web/The%20project/MClient.html">GO TO MAIN PAGE</button>
       <button type="submit" href="$">LOG OUT</button>
      </form>
    </div>
  </body>
</html>