body{
    padding: 0px 0px;
    margin: 0px 0px;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
header{
    display: inline;
}
.des{
    padding: 25px 40px;
    display: inline;
}
.des .A-flowers{
    text-decoration: none;
    color:darkgrey;
    position: absolute;
    z-index: 2;
}
.p1{
    margin:  -15px 200px;
    color: darkgrey;
}
.log-in{
    margin: -15px 1200px;
   font-family: sans-serif;
}
.search
{
    padding: 5px 2px;
    border-color:black;
    margin: -80px 500px;
    border-radius: 10px;
}
nav .div1 ul{
    list-style-type: none;
    margin: 0px 0px;
     }
nav .div1 ul li{
    display: inline-block;
    margin-left: 177px;
}
nav .div1 ul li a {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: right;
    text-decoration:none;
    padding: 5px 15px;
    border-radius: 10px;
}
nav .div1 ul li a:hover {
    color: blue;
    border: 2px solid yellow;
}
nav
{
    background: url(Clients2.jpg);
    background-size: cover;
     height: 600px;
    width: 100%;
    background-attachment: fixed;
}
nav .image { 
    position: absolute;
    height: 500px;
    width: 100%;
    display:inline; 
    z-index: 0;
    margin: -90px 0px;
}
.overlay{
    position: absolute;
    top: 0px;
    bottom: 65px;
    right: 0px;
    left: 0px;
    opacity: 0.3;
    background:black;
    z-index: 1;
}
.home h1{
     position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 80px;
    z-index: 2;
    margin: 70px 300px;
    padding: 50px 100px;
}
.home .p3
{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    margin: 120px 300px;
    padding-left: 283px;
    padding-top: 100px;
    font-family: cursive;
    font-weight: 300;
}
.clearfix
{
    clear: both;
}
.div1 .home .shop
{
  position: absolute;
    margin-top: 356px;
    margin-left: 551px;
    text-decoration: none;
    padding: 5px 15px;
    z-index: 2;
    color: white;

}
.div1 .home .shop:hover
{
    border-radius:20px;
    border: 2px solid yellow;
    border-radius:2px;
    color: blue;
}
.div1 .home .shop2
{
  position: absolute;
    margin-top: 339px;
    margin-left: 644px;
    text-decoration: none;
    padding: 5px 15px;
    z-index: 2;
    color: white;

}
.div1 .home .shop2:hover
{
    border-radius:20px;
    border: 2px solid yellow;
    border-radius:2px;
    color: blue;
}