<!DOCTYPE html>
<html style="padding-top: 250px;
padding-left: 350px;">
    <head>
      <title>DISPLAY</title>
      <style>
         .button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
      </style>
   </head>
   <body style="background-color: dimgrey">
      <a href="file:///D:/computer%20science/Web/The%20project/SCData.html" class="button">PATIENT DATA</a>
      <a href="file:///D:/computer%20science/Web/The%20project/SDData.html" class="button">DOCTOR DATA</a>
      <a href="file:///D:/computer%20science/Web/The%20project/SSData.html" class="button">STAFF DATA</a>

   </body>
</html>
